name: Ubuntu build

on: [push, pull_request]

jobs:
  build_gcc:
    name: Build FFTX on Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get -qqq update
        sudo apt-get install -y build-essential ca-certificates cmake pkg-config wget
        sudo apt-get install python3.8
        sudo curl -L -o /usr/local/bin/cmake-easyinstall https://git.io/JvLxY
        sudo chmod a+x /usr/local/bin/cmake-easyinstall
        export CEI_SUDO="sudo"
    - name: build SPIRAL
      run: |
        mkdir build && cd build
        cmake ..
        make -j 2 install
        make test


name: Ubuntu build

on: [push, pull_request]

jobs:
  build_gcc:
    name: Check sprial-package-fftx on Linux
    runs-on: ubuntu-latest
    steps:
    - name: Checkout spiral-software
      uses: actions/checkout@v2
      with:
        repository: spiral-software/spiral-software
        ref: develop
        path: spiral
    - name: Checkout repo spiral-package-fftx
      uses: actions/checkout@v2
      with:
        path: spiral/namespaces/packages/fftx
    - name: Checkout repo spiral-package-simt
      uses: actions/checkout@v2
      with:
        repository: spiral-software/spiral-package-simt
        path: spiral/namespaces/packages/simt
    - name: install dependencies
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get -qqq update
        sudo apt-get install -y build-essential ca-certificates cmake pkg-config wget
        sudo apt-get install python3.8
        sudo curl -L -o /usr/local/bin/cmake-easyinstall https://git.io/JvLxY
        sudo chmod a+x /usr/local/bin/cmake-easyinstall
        export CEI_SUDO="sudo"
    - name: build SPIRAL
      env:
        SPIRAL_HOME: ${{ github.workspace }}/spiral
      run: |
        cd spiral
        mkdir build && cd build
        cmake -D_codegen=CPU .. 
        make -j 2 install
        make test

